<div class="container">
    

<div class="card">
    
    <div class="card-body">
      <h5 class="card-title">{{ product?.title }}</h5>
      <img [src]="product?.thumbnail" class="card-img-top" alt="thumbnail">
      <p class="card-text"><b>Brand:</b> {{ product?.brand }}</p>
      <p class="card-text"> {{ product?.description }}</p>
      <p class="card-text"><b>Category:</b> {{ product?.category }}</p>
      <p class="card-text"><b>Price $: </b>{{ product?.price }}</p>
      
    </div>
  </div>
  <a class="btn btn-back" (click)="navigateToHomePage()">Torna indietro</a>
</div>
  
