
.card {
    max-width: 700px;
    margin: 20px auto;
    border: 3px solid #f0a93e;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    
  }
  
  .card-img-top {
    width: 300px;
    height: 200px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #2b3a4d;
    margin-bottom: 20px;
  }
  
  .card-text {
    font-size: 16px;
    color: #2b3a4d;
  }

  .btn-back {
    background-color: #2b3a4d;
    font-weight: 500;
    color: #f0a93e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Imposta la larghezza desiderata del pulsante */
    margin-left: auto; /* Centra il pulsante rispetto al bordo sinistro */
    margin-right: auto; /* Centra il pulsante rispetto al bordo destro */
    margin-bottom: 30px;
}


.btn-back:hover{
    background-color: #f0a93e;
    color: #2b3a4d;
}
  
  