.container {
  max-height: 450px; 
  overflow-y: auto; 
}

table {
   align-items: center;
   justify-content: center;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 0px 2px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    
  }
  thead th{
    background-color: #2b3a4d;
    color: #f0a93e;
}
td{
    
  vertical-align: middle;
  font-weight: 500;
  color: #2b3a4d;
  
}
  
  .card-img-top {
    width: 200px;
    height: 100px;
    object-fit: cover;
  }

  .btn-back {
    background-color: #f0a93e;
    font-weight: 500;
    color: #2b3a4d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    margin-left: auto; 
    margin-right: auto; 
}


.btn-back:hover{
    background-color:#ff4e4e;
    color: #2b3a4d;
}
.btn-incr{
  background-color: #2b3a4d;
  font-weight: 500;
  color: #f0a93e;
  margin-left: 20px;
  margin-right: 20px;
  
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
 

}
.btn-incr:hover{
  background-color: #f0a93e;
  color: #2b3a4d;
}
.check{
  background-color: #f0a93e;
  font-weight: 500;
  color: #2b3a4d;
  

}
.check:hover{
  background-color: #2b3a4d;
  color: #f0a93e;
}
  
  