.card {
    background-color: #d0f0f7;
    max-width: 300px;
    margin: 20px auto;
    border: 2px solid #f0a93e;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.btn{
    background-color: #2b3a4d;
    font-weight: 500;
    color: white;
}
.btn:hover{
    background-color: #f0a93e;
}